<div *ngIf="issue">

    <div class="my-1">

        Title:
        <input [(ngModel)]="issue.title" placeholder="Title"/>

    </div>

    <div class="my-1">

        Description:
        <input [(ngModel)]="issue.description" placeholder="Description"/>

    </div>

    <div class="my-1">

        Priority:
        <input [(ngModel)]="issue.priority" placeholder="Priority" type="number" min="0" max="3"/>

    </div>

    <div class="my-1">

        Type:
        <input [(ngModel)]="issue.type" placeholder="Type" type="number" min="0" max="3"/>

    </div>

    <div class="my-1">

        Completed:
        <input [(ngModel)]="issue.completed" type="checkbox" value="Completed"/>

    </div>

    <div>

        <button class="update-btn" (click)="updateIssue(issue)" *ngIf="issue.id">Save</button>
        <button class="delete-btn" (click)="deleteIssue(issue)" *ngIf="issue.id">Delete</button>
        <button class="create-btn" (click)="createIssue(issue)" *ngIf="!issue.id">Create</button>

    </div>

</div>