<div *ngIf="issue">

    <div class="my-1">

        Title:
        <input [(ngModel)]="issue.title" placeholder="Title"/>

    </div>

    <div class="my-1">

        Description:
        <input [(ngModel)]="issue.description" placeholder="Description"/>

    </div>

    <div class="my-1" title="0 = Low, 1 = Medium, 2 = High">

        Priority:
        <input [(ngModel)]="issue.priority" placeholder="Priority" type="number" min="0" max="2"/>

    </div>

    <div class="my-1" title="0 = Feature, 1 = Bug, 2 = Documentation">

        Type:
        <input [(ngModel)]="issue.type" placeholder="Type" type="number" min="0" max="2"/>

    </div>

    <div class="my-1">

        Completed:
        <input [(ngModel)]="issue.completed" type="checkbox" value="Completed"/>

    </div>

    <div>

        <button class="update-btn" (click)="updateIssue(issue)" 
        *ngIf="issue.id" [disabled]="!issue.title || !issue.description || !issue.type || !issue.description">
            Save
        </button>
        <button class="delete-btn" (click)="deleteIssue(issue)" 
        *ngIf="issue.id" [disabled]="!issue.title || !issue.description || !issue.type || !issue.description">
            Delete
        </button>
        <button class="create-btn" (click)="createIssue(issue)" 
        *ngIf="!issue.id" [disabled]="!issue.title || !issue.description">
            Create
        </button>

    </div>

</div>