<h1>Welcome to the issues table!</h1>

<h3>In this application you can create, see, edit and delete your own issues. Have fun!</h3>

<table>

  <thead>

    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Type</th>
    <th>Created at</th>
    <th>Completed</th>

  </thead>

  <tbody>

    <tr *ngFor="let issue of issues;">

      <td>{{ issue.id }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.description }}</td>
      <td>{{ setPriority(issue) }}</td>
      <td>{{ setType(issue) }}</td>
      <td>{{ issue.createdAt }}</td>
      <td>{{ isCompleted(issue) }}</td>
      <td><button (click)="editIssue(issue)">Edit</button></td>

    </tr>

  </tbody>

</table>

<button class="create-btn" (click)="initNewIssue()">Create a new Issue</button>

<app-edit-issue [issue]="issueToEdit" (issuesUpdated)="updateIssuesList($event)"></app-edit-issue>